# Flight generator runtime
FLIGHT_GENERATOR_NUM_FLIGHTS=1
FLIGHT_GENERATOR_RUN_INTERVAL_SECONDS=30
FLIGHT_GENERATOR_OUTPUT_JSON_INDENT=2
FLIGHT_GENERATOR_ALLOWED_POINT_MAX_ATTEMPTS=5000
FLIGHT_GENERATOR_UNUSED_EVENT_ID_MAX_ATTEMPTS=1000

# PostgreSQL
FLIGHT_GENERATOR_POSTGRES_HOST=34.165.129.193
FLIGHT_GENERATOR_POSTGRES_PORT=5432
FLIGHT_GENERATOR_POSTGRES_DBNAME=AIrcraft-NP
FLIGHT_GENERATOR_POSTGRES_USER=postgres
FLIGHT_GENERATOR_POSTGRES_PASSWORD=hashlama020
# Example values: disable, allow, prefer, require, verify-ca, verify-full
FLIGHT_GENERATOR_POSTGRES_SSLMODE=disable
FLIGHT_GENERATOR_POSTGRES_SCHEMA=public
FLIGHT_GENERATOR_POSTGRES_EVENT_TABLE=event
FLIGHT_GENERATOR_POSTGRES_AIRCRAFT_TABLE=aircraft
FLIGHT_GENERATOR_POSTGRES_POLYGON_TABLE=polygon
FLIGHT_GENERATOR_AIRCRAFT_FREE_STATUS=FREE
FLIGHT_GENERATOR_AIRCRAFT_BUSY_STATUS=BUSY

# Dispatch API
FLIGHT_GENERATOR_DISPATCH_URL=https://live-data-1015949672422.europe-west1.run.app/api/dispatch
FLIGHT_GENERATOR_DISPATCH_TIMEOUT_SECONDS=10
